<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awfc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AWFC">
        <activity
            android:name=".ui.voiceDeviceUI.IncomingCallAndroidNougatHome"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallSamsungS7Home"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallSamsungA10Home"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallIos122Home"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallOppoHome"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallIos12Home"
            android:exported="false" />
        <activity
            android:name=".ui.DeviceVoiceCallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddAudioVoiceCallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallIos2"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallSamsungA10"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallOppo"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallIos12"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallXiaomi9"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallAndroidNougat"
            android:launchMode="singleTop"
            android:showOnLockScreen="true"
            android:exported="false" />
        <activity
            android:name=".ui.voiceDeviceUI.IncomingVoiceCallSamsungS7"
            android:exported="false" />

        <service
            android:name=".utils.InitiateCallService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".utils.InitiateVoiceCallService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".utils.AlarmReceiver" />

        <activity
            android:name=".ui.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OutgoingRingingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.IncomingRingingActivity"
            android:exported="false"
            android:showOnLockScreen="true" />
        <activity
            android:name=".ui.ArtistDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>